version: 2

jobs:
  test:
    docker:
      - image: web3f/node-dind:v1.0.0
      - image: mongo:4.0.17
        name: mongodb
      - image: parity/polkadot:v0.8.30
        name: polkadot
        command: --chain=kusama-dev --ws-port 11000 --ws-external --rpc-methods=Unsafe --rpc-cors=all
      - image: mariadb:10.5.2-bionic
        name: mariadb
        environment:
          MYSQL_ROOT_PASSWORD: pass
          MYSQL_DATABASE: test
    steps:
      - checkout
      - setup_remote_docker
      - run: yarn
      - run:
          name: Run tests
          command: |
            yarn test

  publishPackage:
    docker:
      - image: 14.16.1-alpine3.11
    steps:
      - checkout

      - run:
          name: Publish package
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
            yarn
            yarn publish --access public

workflows:
  version: 2
  test-deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - publishPackage:
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
            branches:
              ignore: /.*/
          requires:
            - test
